<div *ngIf="team" class="form-group">
<label for="teamName">Team Name:</label> <input [(ngModel)]="team.teamName" class="form-control" id="teamName">
	<div>
		<button *ngIf="team?._links?.self?.href" (click)="updateTeam(team)" type="button" class="btn btn-pimary">Speichern</button>
		<button *ngIf="!team?._links?.self?.href" (click)="saveTeam(team)" type="button" class="btn btn-pimary">Speichern</button>
		<button *ngIf="team?._links?.self?.href" (click)="deleteTeam(team)" type="button" class="btn btn-default">Loeschen</button>
	</div>
</div>
