<div *ngIf="mitglied" class="form-group">
	<label for="vorname">Vorname:</label> <input [(ngModel)]="mitglied.vorname" class="form-control" id="vorname">
	<label for="nachname">Nachname:</label> <input [(ngModel)]="mitglied.nachname" class="form-control" id="nachname">
	<label for="teamList">Select list:</label>
 	<select class="form-control" id="teamList" [(ngModel)]="selectedTeam" (ngModelChange)="onChange($event)">
   		<option [ngValue]="team" *ngFor="let team of teams" >{{team.teamName}}</option>
    </select>
	<div>
		<button *ngIf="mitglied?._links?.self?.href" (click)="updateMitglied(mitglied)" type="button" class="btn btn-pimary">Speichern</button>
		<button *ngIf="!mitglied?._links?.self?.href" (click)="saveMitglied(mitglied)" type="button" class="btn btn-pimary">Speichern</button>
		<button *ngIf="mitglied?._links?.self?.href" (click)="deleteMitglied(mitglied)" type="button" class="btn btn-default">Loeschen</button>
	</div>
</div>


