<h1>Teams</h1>
<div class="list-group">
	<a *ngFor="let team of teams" (click)="onSelect(team)" class="list-group-item">{{team.teamName}}</a>
</div>
<button (click)="createTeam()" type="button" class="btn btn-default">Neues Team erfassen</button>

