<h1>Mitglieder</h1>
<div class="list-group">
	<a *ngFor="let mitglied of mitglieder" (click)="onSelect(mitglied)" class="list-group-item">{{mitglied.vorname}}
		{{mitglied.nachname}}</a>
</div>
<button (click)="createMitglied()" type="button" class="btn btn-default">Neues Mitglied erfassen</button>
